body{
  margin: 0;
  display: flex;
  justify-content: center;
}

a{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}

.fondo{
  width: 100%;
  display: flex;
  justify-content: center;

  background:
    linear-gradient(#130b0b, transparent),
    linear-gradient(to top left, #1c162b, transparent),
    linear-gradient(to top right, #1c1a23, transparent);
    background-blend-mode: screen;

}

.container{
  width: 1024px;
  display: grid;
  /* grid-gap: 10px; */
  padding: 10px;
  grid-template-columns: 100%;
  grid-template-areas: "header"
                       "hero"
                       "cuerpo"
                       "footer";
}

.item{
  background: lightblue;
  border: 1px solid red;
}

.header{
  grid-area: header;
  width: 100%;
  height: 50px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.hero{
  grid-area: hero;
  width: 100%;
  height: 260px;
  position: relative;
}

.cuerpo{
  grid-area: cuerpo;
  width: 100%;
  height: 1000px;
    background: #171717;
}

.footer{
  grid-area: footer;
  width: 100%;
  height: 50px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: linear-gradient(to top left, black, #4c4c4c);
  color: white;
}

/* ----- HEADER ----- */


.header-container{
  display: grid;
  padding: 10px;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-areas: "inicio descargas ranking tienda registo";
  background-image: linear-gradient(to bottom right, black, #4c4c4c);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.header-container a{
  font-size: 1.5em;
  color:white;
  font-family: 'Black Ops One', cursive;
}

.inicio{
  grid-area: inicio;
  display: flex;
  justify-content: center;
}
.descargas{
  grid-area: descargas;
  display: flex;
  justify-content: center;
}
.ranking{
  grid-area: ranking;
  display: flex;
  justify-content: center;
}
.tienda{
  grid-area: tienda;
  display: flex;
  justify-content: center;
}
.registo{
  grid-area: registo;
  display: flex;
  justify-content: center;
}

.hover-header:hover{
  font-size: 1.6em;
}

/* ----- HERO ----- */

.hero-container{
  width: inherit;
  height: auto;
  overflow: hidden;
}

.hero img{
  width: 100%;
  height: inherit;
  margin: 0;
}


.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(55%, -50%);
    font-family: 'Black Ops One', cursive;
    font-size: 2.5em;
    color: #771717;
}

/* ----- CUERPO ----- */

.cuerpo-container{
    display: grid;
    height: inherit;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: "left center right";
}

.left{
  grid-area: left;
  height: inherit;
}

.center{
  grid-area: center;
  height: inherit;
  background: gray;
}

.right{
  grid-area: right;
  height: inherit;
}

/* ----- LEFT ----- */


.login{
  height: 20%;
  background: #171717;
  color: white;
  border: 2px solid gray;
}

.tabla-menu{
  height: 40%;
  background: #171717;
  color: white;
  border: 2px solid gray;
}

.tabla-ranking{
  height: 40%;
  background: #171717;
  color: white;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* ----- LOGIN ----- */

.title-login{
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Black Ops One', cursive;
  font-size: 1.2em;
}

.datos-login{
  height: 85%;
}

.usuario{
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-input{
  width: 120px;
  height: 1.5em;
  border-radius: 5px;
}

.pass{
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingresar{
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-button{
  width: 80px;
  height: 2em;
  background: black;
  color: white;
}

.recuperar-pass{
  height: 20%;
  display: flex;
  justify-content: center;
  /* font-family: 'Black Ops One', cursive; */
}

.recuperar-pass a{
  color: white;
}

/* ----- TABLA MENU ----- */

.title-tabla-menu{
  height:12%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Black Ops One', cursive;
  color: white;
  font-size: 1.2em;
  border-bottom: 2px solid black;
  margin-bottom: 8px;
}

.tabla-menu-opcion{
  color: white;
  height:8%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-bottom: 2px solid black;
  border-top: 1px solid gray;
}

.hover-tabla:hover{
  font-size: 1.1em;
}

/* ----- MENU RANKING ----- */

.title-tabla-ranking{
  height:35px;
  text-align: center;
  font-family: 'Black Ops One', cursive;
  color: white;
  font-size: 1.2em;
  border-bottom: 2px solid black;
  margin-bottom: 8px;
  width: 100%;
}

.puesto{
  color: white;
  height:5%;
  display: flex;
  justify-content: center;
  padding:1%;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 3%;
  width: 80%;
  font-size: .9em;
}

/* ----- RIGHT ----- */

.servidor{
  height: 40%;
  background: #171717;
  color: white;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
}

.visitas{
  height: 20%;
  background: #171717;
  color: white;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;

}

.tabla-guild{
  height: 40%;
  background: #171717;
  color: white;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.visitas-titulo{
  height:30%;
  text-align: center;
  font-family: 'Black Ops One', cursive;
  color: white;
  font-size: 1.2em;
  border-bottom: 2px solid black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contador-link{
  height:70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contador{
  width: 80%;
}

.servidor-titulo{
  height:12%;
  text-align: center;
  font-family: 'Black Ops One', cursive;
  color: white;
  font-size: 1.2em;
  border-bottom: 2px solid black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.datos-servidor{
  height:88%;
}

/* ----- CENTER ----- */



/* ----- FOOTER ----- */

.footer p{
  display: flex;
  justify-content: center;
  align-items: center;
}
